@font-face {
    font-family: myFirstFont;
    src: url('./Chirp-Bold.ebb56aba.woff2');
  }

  @font-face {
    font-family: mySecondFont;
    src: url('./Chirp-Heavy.f44ae4ea.woff2');
  }

  @font-face {
    font-family: myFirdFont;
    src: url('./Chirp-Regular.80fda27a.woff2');
  }

* {
    font-family: myFirdFont, 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    color: var(--twitter-background);
}

body {
    max-width: 1380px;
    margin: 0 auto !important;
    /* border: 1px solid blue; */
    float: none;
    background-color: #000;
    /* overflow: hidden; */
}

.main {
    margin: 0 40px;
    display: grid;
    column-gap: 5px;
    grid-template-columns: 200px auto 300px;
    /* border: 1px solid red; */
    color: #fff;
    font-family: mySecondFont;
}

.logo {
    margin: 10px auto 20px 10px;
    color: #fff;
}

.logo .fa-twitter {
    font-size: 20px;
}

.menu-link {
    display: block;
}

.menu-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link-items {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

.link-items:hover {
    font-family: myFirstFont;
    font-weight: bold;
}

.active {
    font-family: myFirstFont;
    font-weight: bold;
}

.btn-tweet {
    width: 80%;
    background-color: #50b7f5;
    font-weight: 900;
    border-radius: 30px;
    height: 40px;
    margin: 10px auto auto -10px;
    cursor: pointer;
    font-size: 16px;
}

.user {
    height: 500px;
    display: flex;
    align-items: flex-end;
    
}

.infos {
    display: flex;
}

.account {
    font-family: myFirdFont;
    font-size: 12px;
    padding-left: 10px;
}

.menu img {
    margin-left: 30px;
    margin-top: -10px;
}

/* ends header style  */

.main .feed {
    border-left: 0.1ch solid rgba(220, 220, 220, 0.553);
    border-right: 0.1ch solid rgba(220, 220, 220, 0.553);
}

.feed-header {
    margin-top: 10px;
    padding: 0 80px;
    font-size: 20px;
    font-family: myFirstFont;
    font-weight: 900;
}

.feed-link {
    display: flex;
    flex-direction: column;
}

.link-item {
    margin-top: 25px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
    font-family: mySecondFont;
    /* border-bottom: 0.1ch solid rgba(220, 220, 220, 0.553); */
}

.link-item hr {
    margin-top: 10px;
    height: 4px;
    background-color: #50b7f5;
    /* border: none; */
}

.new-line {
    margin-top: -10px;
    height: 1px;
    background-color: rgba(220, 220, 220, 0.553);
}

.hashed {
    color: rgba(220, 220, 220, 0.553);
}

.feed-tweet {
    display: flex;
    flex-direction: column;
}

.content {
    /* margin: 20px; */
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.content img {
    width: 40px;
}

.ft-content {
    padding: 10px;
    color: rgba(220, 220, 220, 0.553);
    font-size: 20px;
}

.feeds-link-items {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    /* justify-content: space-between; */
}

.link-ico img {
    width: 80px;
}

.feed-link-btn {
    width: 90px;
    background-color: #50b7f5;
    font-weight: 900;
    border-radius: 30px;
    padding: 10px;
    margin-left: auto;
    margin-right: 40px;
    cursor: pointer;
    font-size: 14px;
}

.new-line1 {
    margin-top: 10px;
    height: 1px;
    background-color: rgba(220, 220, 220, 0.553);
}

.twitter-post {
    padding: 20px;
}

.twitter-post .material-icons {
    float: right;
    color: rgba(220, 220, 220, 0.553);
}

.content-data {
    color: rgba(220, 220, 220, 0.553);
    font-size: 16px;
    padding-top: 10px;
}

.content-data a {
    color: blue;
}

.btn-tweet-cnt {
    width: 90px;
    background-color: #fff;
    color: #000;
    font-weight: 900;
    border-radius: 30px;
    padding: 10px;
    margin-left: auto;
    margin-top: 30px;
    cursor: pointer;
    font-size: 14px;
}

.post {
    padding: 20px;
}

.post .material-icons {
    float: right;
    color: rgba(220, 220, 220, 0.553);
}

.img-auth {
    display: flex;
    flex-direction: row;
    
}

.auth-det {
    margin-top: 10px;
}

.p-content img {
    width: 60px;
}


.p-auth img {
    width: 15px;
}

.auth-det span {
    color: rgba(220, 220, 220, 0.553);
}

.t-content {
    margin-left: 60px;
}

.post-details p {
    padding-top: 10px;
}

ul {
    list-style: none;
    font-size: 14px;
}

ul li::before {
    content: "+";
    list-style: symbols(+);
    color: #fff;
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
    font-size: 12px;
}

.post-content img {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 20px;
}

/* rightbar  */
.rightbar {
    margin-top: 5px;
}

.form-control {
    background-color: #141518;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    margin: auto 10px;
    height: 40px;
}

.form-control .material-icons {
    color: rgba(220, 220, 220, 0.553);
    /* font-size: 30px; */
    margin: auto;
}

input {
    background: transparent;
    color: #fff;
    /* font-size: 30px; */
    margin: auto; 
}

.subscribes {
    background-color: #141518;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-align: justify;
    margin-left: 10px;
}

.subscribes p {
    padding-top: 10px;
    font-family: myFirstFont;
    font-size: 14px;
}

.subscribes button {
    margin: 10px;
    padding: 10px;
    background-color: #50b7f5;
    color: #fff;
    font-weight: 900;
    border-radius: 30px;
    cursor: pointer;
}

.trends {
    background-color: #141518;
    margin: 20px 0 0 10px;
    color: #fff;
    border-radius: 30px;
    padding: 20px;
}

.t-post {
    padding-top: 10px;
    font-size: 13px;
    font-family: mySecondFont;
}

.t-place {
    color: #ffffff9a;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.count {
    color: #ffffff9a;
    font-weight: 100;
    padding-top: 5px;
}

.trends-content {
    padding: 10px 10px;
    margin: 5px 0;
}

.show-link {
    color: rgb(5, 114, 198);
}