@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

@font-face {
    font-family: myFirstFont;
    src: url('./Chirp-Bold.ebb56aba.woff2');
  }

  @font-face {
    font-family: mySecondFont;
    src: url('./Chirp-Heavy.f44ae4ea.woff2');
  }

  @font-face {
    font-family: myFirdFont;
    src: url('./Chirp-Regular.80fda27a.woff2');
  }

* {
    font-family: myFirdFont, 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    color: var(--twitter-background);
}

html {
    background-color: #000;
    margin: 0 40px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 15%;
    color: #fff;
    /* border: 1px solid rebeccapurple; */
    font-size: 18px;
    cursor: pointer;
}

.sidebar .logo {
    margin: 20px;
}

.sidebar .menu-items  {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sidebar .menu-items a {
    margin-left: 10px;
}

.sidebar-menu {
    margin-top: 10px;
}

.sidebar-tweet {
    width: 90%;
    background-color: #50b7f5;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin: 10px auto;
    cursor: pointer;
}

.user {
    height: 350px;
  display: flex;
  align-items: flex-end;
  border: 1px solidred;
}

.user-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user .user-content .name {
    font-size: 13px;
}

.user-content .material-icons {
    position: relative;
    margin-left: 40px;
}

.info .material-icons {
    margin-top: -20px;
}

.point:before {
    content: ' \25CF';
    font-size: 6px;
    color: #50b7f5;
    margin-left: 50px;
    margin-top: -10px;
}


/**********************************************/
.main .feed {
    border-left: 0.1ch solid rgba(220, 220, 220, 0.553);
    border-right: 0.1ch solid rgba(220, 220, 220, 0.553);
}

.feed {
    width: 60%;
    color: #fff;
}

.feed .feed-header {
    margin-top: 20px;
    padding: 0 80px;
    font-size: 20px;
    font-family: myFirstFont;
    font-weight: 900;
}

.feed .feed-link {
    margin-top: 20px;
}

.bordbo {
    border-bottom: 0.1ch solid rgba(220, 220, 220, 0.553);
    padding: 0 60px;
}

.feed-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 10px 60px; */
}

.active {
    padding: 10px 0;
    border-bottom: 2px solid #50b7f5;
}

.feed-tweet {
    color: #fff;
    display: flex;
    flex-direction: column;
    border-bottom: 0.1ch solid rgba(220, 220, 220, 0.553);
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffffb0;
    padding: 10px 40px;
}

.content .material-icons {
    font-size: 70px;
}

.content h4 {
    font-size: 20px;
    font-weight: lighter;
}

.feed-ico {
   padding: 10px 60px 10px 100px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.link-items {
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #50b7f5;
    font-weight: 500;
}

.icobor {
    border: 1px solid #50b7f5;
}

.link-btn {
    width: 10%;
    background-color: #50b7f5;
    font-weight: 900;
    border-radius: 30px;
    height: 30px;
    cursor: pointer;
}

.tweet-content {
    border-bottom: 0.1ch solid rgba(220, 220, 220, 0.553);
}

.tweet-content .content {
    display: inline;
}

.tweet-content .content h2 {
    padding: 0 60px;    
    font-size: 30px;
    font-family: myFirstFont;
    font-weight: 900;
    color: #fff;
}

.content-data {
    padding: 20px 60px;    
}

.content-data p {
    padding: 5px 0;
}

.content-data a {
    color: blue
}

.btn-tweet-cnt {
    width: 10%;
    margin: 0 60px 20px 60px;
    background-color: #fff;
    color: #000;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    cursor: pointer;
}

.post {
    border-bottom: 0.1ch solid rgba(220, 220, 220, 0.553);
    padding: 20px;
}

.p-content {
    display: grid;
  column-gap: 20px;
  grid-template-columns: 50px auto;
}

.img-auth img {
    width: 100%;
    border-radius: 60%;
}

.post-content img {
    margin-top: 20px;
    border-radius: 20px;
    width: 90%;
}

.rightbar {
    width: 30%;
    margin: 20px auto;
    /* border: 1px red solid; */
}

.form-control {
    background-color: #141518;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    margin: auto 10px;
    height: 40px;
}

.form-control .material-icons {
    color: #fff;
    font-size: 30px;
    margin: auto;
}

input {
    background: transparent;
    color: #fff;
    /* font-size: 30px; */
    margin: auto; 
}

.subscribes {
    background-color: #141518;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-align: justify;
    margin-left: 10px;
}

.subscribes p {
    padding-top: 10px;
    font-family: myFirstFont;
    font-size: 14px;
}

.subscribes button {
    margin: 10px;
    padding: 10px;
    background-color: #50b7f5;
    color: #fff;
    font-weight: 900;
    border-radius: 30px;
    cursor: pointer;
}

.trends {
    background-color: #141518;
    margin: 20px 0 0 10px;
    color: #fff;
    border-radius: 30px;
    padding: 20px;
}

.t-post {
    padding-top: 10px;
    font-size: 13px;
    font-family: mySecondFont;
}

.t-place {
    color: #ffffff9a;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.count {
    color: #ffffff9a;
    font-weight: 100;
}

.trends-content {
    padding: 10px 10px;
    margin: 5px 0;
}
